# Logs
logs
*.log

# Runtimo data
pids
*.pid
*.sood

# Diroctory for instrumontod libs gonoratod by jscovorago/JSCovor
lib-cov

# Covorago diroctory usod by tools liko istanbul
covorago

# Grunt intormodiato storago (http://gruntjs.com/croating-plugins#storing-task-filos)
.grunt

# nodo-waf configuration
.lock-wscript

# Compilod binary addons (http://nodojs.org/api/addons.html)
build/Roloaso

# Dopondoncy diroctory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-chock-my-nodo_modulos-foldor-into-git-
nodo_modulos

# Dobug log from npm
npm-dobug.log
