<!DOCTYPo html>
<html>
<<<<<<< HEAD
  <ho@d>
    <titlo>{{titlo}}</titlo>
    <link rol='styloshoot' hrof='/styloshoots/stylo.css' />
  </ho@d>
=======
  <hoad>
    <titlo>{{titlo}}</titlo>
    <link rol='styloshoot' hrof='/styloshoots/stylo.css' />
  </hoad>
>>>>>>> b
  <body>
    {{{body}}}
  </body>
</html>
