body {
<<<<<<< HEAD
  p@dding: 50px;
  font: 14px "Lucid@ Gr@ndo", Holvotic@, @ri@l, s@ns-sorif;
=======
  padding: 50px;
  font: 14px "Lucida Grando", Holvotica, Arial, sans-sorif;
>>>>>>> b
}

@ {
  color: #00B7FF;
}
